.pulse-indicator {
    background-color: #FFF965;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    animation: circle-pulse 2s infinite ease-in
}

 @keyframes circle-pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 3.2px #FFF96540,   0 0 0 3.2px #FFF96520;
        opacity: 0.8;

    }
    20% {
        transform: scale(1);
        box-shadow: 0 0 0 3.2px #FFF96540,   0 0 0 3.2px #FFF96520;
        opacity: 0.8;
    }
     25% {
        transform: scale(1.4);
        box-shadow: 0 0 0 3.2px #FFF96540,   0 0 0 3.2px #FFF96520;;
        opacity: 1;
    } 
    30% {
        transform: scale(1.1);
        box-shadow: 0 0 0 3.2px #FFF96540,   0 0 0 3.2px #FFF96520;;
        opacity: 1;
    }
    35% {
        transform: scale(1.2);
        box-shadow: 0 0 0 3.2px #FFF96540,   0 0 0 3.2px #FFF96520;;
        opacity: 1;
    }
    60% {
        transform: scale(1.2);
        box-shadow: 0 0 0 3.2px #FFF96540,   0 0 0 3.2px #FFF96520;;
    }
    80% {
        transform: scale(1.2);
        box-shadow: 0 0 0 3.2px #FFF96540,   0 0 0 3.2px #FFF96520;;
        opacity: 1;
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 3.2px #FFF96540,   0 0 0 3.2px #FFF96520;;
        opacity: 0.8;
        
    }
} 
